@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=IM+Fell+DW+Pica&family=Twinkle+Star&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../dist/ece9ef7c769feae06fd5.jpg');
    background-size: cover;
    background-position-y: center;
    color: #ffddae;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 1.5rem;

}

header {
    display: flex;
    justify-content: center;
    font-family: 'Fredoka One', cursive;
}

.page-icon {
    object-fit: cover;
    width: 70px;
    height: 70px;
    padding-top: 10px;
    background-color: rgb(156, 16, 190);
}

.page-title {
    color: #ff43ff;
    font-size: 2.5rem;
    padding: 15px;
}

.weather-container,
.error-info {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.weather-main-icon-container {
    text-align: center;
    text-transform: capitalize;
}

.main-icon {
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.humidity-title,
.wind_speed-title,
.feels_like-title,
.chanceOfRain-title {
    font-family: 'Twinkle Star', cursive;
    font-size: 1.5rem;
    text-transform: lowercase;
}

.humidity-container,
.wind_speed-container,
.feels_like-container,
.chanceOfRain-container,
.weather-description-container {
    font-size: 2rem;
    font-weight: 900;
}

.weather-temp-container {
    font-size: 4rem;
}

.weather-data-group-one {
    text-align: justify;
}

.search-box-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-input {
    width: 17%;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-radius: 2px;
    outline: none;
    border: none;
    font-size: 1.3rem;
    color: #8a2be2;
    font-weight: bold;
    font-family: 'IM Fell DW Pica', serif;
}

.search-btn {
    margin: 10px;
    padding: 5px;
    width: 8%;
    color: #ffddae;
    background-color: #0e001b;
    outline: none;
    border: 2px #ffddae solid;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
}

.search-btn:hover,
.temp-toggle-btn:hover {
    color: #0e001b;
    background-color: #ffddae;
    border: 1px #0e001b;
    border-style: double inset;
}

.temp-toggle-btn {
    position: absolute;
    left: 15%;
    top: 45%;
    margin: 10px;
    padding: 5px;
    width: 8%;
    color: #ffddae;
    background-color: #0e001b;
    outline: none;
    border: 2px #ffddae solid;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
}

.load-img {
    position: absolute;
    top: 20%;
    left: 40%;
    z-index: 4;
    object-fit: cover;
    width: 300px;
    height: 400px;
    opacity: 0.8;
    border-radius: 5px;
    border: 2px solid #0e001b;
    border-bottom-color: #ffddae;
    border-top-color: #8a2be2;
    border-style: inset groove;
}

@media only screen and (max-width: 1080px) {
    .page-title {
        padding: 15px 15px;
        text-align: center;
    }

    .weather-container {
        flex-direction: column;
    }

    .weather-data-group-one {
        text-align: center;
    }

    .weather-data-group-two {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        margin-top: 50px;
    }

    .weather-main-icon-container {
        margin-top: 50px;
    }

    .temp-toggle-btn {
        top: 50%;
        left: 25%;
    }

    .search-input {
        width: 250px;
    }

    .search-btn,
    .temp-toggle-btn {
        width: 190px;
    }

    .load-img {
        top: 100%;
        left: 20%;
        height: 300px;
        width: 250px;
    }
}

@media only screen and (min-width: 1080px) {
    .temp-toggle-btn {
        top: 47%
    }
}