@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=IM+Fell+DW+Pica&family=Twinkle+Star&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../dist/ece9ef7c769feae06fd5.jpg');
    background-size: cover;
    color: #ffddae;
    font-family: 'IM Fell DW Pica', serif;
}

header {
    display: flex;
    justify-content: center;
    font-family: 'Fredoka One', cursive;
}

.page-icon {
    object-fit: cover;
    width: 70px;
    height: 70px;
    padding-top: 10px;
    background-color: rgb(156, 16, 190);
}

.page-title {
    color: #ff43ff;
    font-size: 2.5rem;
    padding: 15px
}

.weather-container {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    margin-top: 10px;
}

.weather-main-icon-container {
    text-align: center;
    text-transform: capitalize;
}

.main-icon {
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.humidity-title,
.wind_speed-title,
.feels_like-title,
.chanceOfRain-title {
    font-family: 'Twinkle Star', cursive;
    font-size: 1.5rem;
    text-transform: lowercase;
}

.humidity-container,
.wind_speed-container,
.feels_like-container,
.chanceOfRain-container,
.weather-temp-container,
.weather-description-container {
    font-size: 2rem;
    font-weight: 900;
}

.weather-date-container,
.weather-time-container,
.weather-locationName-container {
    font-size: 1.5rem;
}